@import "~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss";

.personaContainer {
  vertical-align: top;
}
.documentCard {
  border-color: $ms-color-themeDark;
  border-top-width: 5px;
  width: 100%;
  max-width: 350px;
  height: 150px;
}
.persona {
  padding: 15px;
}
.personaRoot {
  height: auto;
}
.bottomColor {
  background-color: $ms-color-themeDark;
  height: 5px;
  margin-top: 10;
  width: 100%;
}
